.keyboard {
    display: grid;
    height: 310px;
    width: 837px;
    margin: auto;
    margin-top: 20%;

    background-color: #dbd8d8;
    border-radius: 6px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.233);

    padding: 7px 7px 7px 7px;

    grid-template-columns: repeat(60, 12px);
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr;
    gap: 2px;
}

/* nested loop */
.arrows {
    grid-column: span 12;
    display: grid;

    padding: 7px 7px 7px 7px;

    gap: 1px;
    row-gap: 0px;
    grid-template-columns: repeat(12, 12px);
    grid-template-rows: 1fr 1fr;
}

/* key size ratios courtesy: https://www.keychron.com/pages/keychron-k2-keyboard-keycaps-layout-and-keycap-size-hd-picture */
/* 1 grid column is 0.25u */
.key {
    height: 52px;
    grid-column: span 4;
    background-color: #dbd8d8;
    border-radius: 3px;
    text-align: center;
    position: relative;
    user-select: none;
}

.key::before {
    content: '';
    position: absolute;
    z-index: 9;
    top: 6px;
    right: 5px;
    bottom: 4px;
    left: 5px;
    display: block;
    width: auto;
    height: 42px;
    background-color: rgba(0, 0, 0, 0.529);
    border-radius: 4px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.233);
}

.key::after {
    content: attr(key-text);
    position: absolute;
    bottom: 17px;
    left: 23px;
    z-index: 10;
    font-family: 'Arial';
    font-size: 12px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    white-space: nowrap;
}

/* hover effect of keys */
.key:hover::before {
    background-color: rgb(80, 80, 80);
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.233);
    transition: 0.1s;
}

/* on-click effect of keys */
.key:active::before {
    background-color: rgb(61, 61, 61);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.233);
    transition: 0.1s;
}

.standard_key {
    grid-column: span 4;
}

.special_key {
    height: 26px;
    grid-column: span 5;
    border-radius: 3px;
}

.special_key::before {
    top: 4px;
    height: 20px;
}

.special_key::after {
    bottom: 5px;
    left: 25px;
}

.power_key::before {
    background-color: rgba(201, 0, 0, 0.509);
}

img {
    z-index: 999;
    height: 20px;
    width: 20px;
    position: relative;
    top: 4px;
}

.not_power {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.power_key:hover::before {
    background-color: rgba(201, 0, 0, 0.653);
}

.power_key:active::before {
    background-color: rgba(201, 0, 0, 0.899);
}

.left_align_key::after {
    bottom: 6px;
    left: 12px;
}

.right_align_key::after {
    bottom: 6px;
    right: 12px;
}

.center_align_key::after {
    left: 20px;
}

.arrow_key {
    height: 24px;
    grid-column: span 4;
}

.arrow_key::before {
    height: 18px;
    top: -1px;
    right: 1px;
    bottom: 0px;
    left: 5px;
}

.arrow_key::after {
    bottom: 8px;
    left: 22px;
}

/* 1.25u key */
.key-1_25units {
    grid-column: span 5;
}

/* 1.5u key */
.key-1_5units {
    grid-column: span 6;
}

/* 1.75u key */
.key-1_75units {
    grid-column: span 7;
}

/* 2u key */
.key-2units {
    grid-column: span 8;
}

/* 2.25u key */
.key-2_25units {
    grid-column: span 9;
}

/* 2.5u key */
.key-2_5units {
    grid-column: span 10;
}

/* 2.75u key */
.key-2_75units {
    grid-column: span 11;
}

/* 6.25u space key */
.key-6_25units {
    grid-column: span 25;
}
